body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}
.main-heading{
  font-size: 1.75rem;
  font-weight: bold;
  /* font-family: 'Times New Roman', Times, serif ; */
}
.whole-todoList{
  padding: 2.5rem 20rem;
}
.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 12.5rem 9.375rem 6.25rem;
  column-gap :0.625rem;
  row-gap: 0.625rem;
  align-items: center;
}
.todo-input-grid{
  align-items: stretch;
  margin-bottom: 0.625rem;
}


.name-input,
.date-input{
  font-size: 0.938rem;
  padding: 0.375rem;
}
.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  border-radius: 0.1rem;
  font-size: 0.938rem;
  cursor: pointer;
}

.delete-todo-button{
  background-color: rgb(25, 40, 50);
  color: white;
  border-radius: 0.1rem;
  border: none;
  font-size: 0.938rem;
  padding: 0.625rem 0;
  cursor: pointer;
}





